{{ 'vic-base.css' | asset_url | stylesheet_tag }}

<script src="{{ 'webpack_bundle.js' | asset_url }}" defer="defer" type="module"></script>

 
<div class="demo_metaobj_graphql">
  <table class="demo_table">
    <thead>
      <th class="title" colspan="2">
          meta obj GraphQL queries
      </th>
    </thead>
    <tbody class="">
      <tr>
        <td class="name"></td>
        <td class="val"></td>
      </tr>
       
      <tr class="gap"></tr>
     
    </tbody>
  </table>
</div>
 
